#titleimg {
    width: 1280px;
    height: 690px;
}


body, html {
    height: 100%;
}
  
  html {
    /* The image used */
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-size: cover;
}

#searchbar {
padding-top: 150px;
padding-bottom: 50px;
width: 50%;
}

.table {
width: 500px;
}

.card {
    border-radius: 10px;
}

#topsongsdiv {
height: 400px;
margin-top: 0px;
margin-bottom: 30px;
margin-right: 15px;
}

#upcomingshowsdiv {
height: 400px;
margin-top: 0px;
margin-bottom: 30px;
margin-left: 15px;
}

#upcomingshowsheading{
  margin-top:20px;
}

#logo {
  padding-right:20px;
}

#showName{
  font-size: 20px;
}

#showDate{
  font-size: 20px;
}

#showTime{
  font-size: 20px;
}
  
#venue{
  font-size: 20px;
}
